$Blue: hsl(246, 80%, 60%);
$white: white;
$LightRed: hsl(15, 100%, 70%);
$SoftBlue: hsl(195, 74%, 62%);
$LightRed: hsl(348, 100%, 68%);
$LimeGreen: hsl(145, 58%, 55%);
$Violet: hsl(264, 64%, 52%);
$SoftOrange: hsl(43, 84%, 65%);

$VeryDarkBlue: hsl(226, 43%, 10%);
$DarkBlue: hsl(235, 46%, 20%);
$DesaturatedBlue: hsl(235, 45%, 61%);
$PaleBlue: hsl(236, 100%, 87%);
$gainsboro: gainsboro;
$gray: gray;

$flex: flex;
$center: center;
$grid: grid;
$fullSize: 100%;
$fullSizeVh: 100vh;
$halfSize: 50%;
$halfSizeVh: 50vh;
$remarkRadius: 0 0 20px 20px;
$iconImgRadius: 20px 20px 0 0;

// @include extralSmallScreen {
// }
// @include smallScreen {
// }
// @include mediumScreen {
// }
// @include largeScreen {
// }
// @include extralLargeScreen {
// }
// @include extralXtralLargeScreen {
// }
